<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Postcard For You!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
  <h1> A good <u>@Model.Noun1</u> is hard to find</h1>
  <h3> Flannery O'<u>@Model.Name1</u></h3>
  <p>THE grandmother didn’t want to go to <u>@Model.Place1</u>. She wanted to visit some of her
    connections in east <u>@Model.Place2</u> and she was seizing at every chance to change Bailey’s
    mind. Bailey was the son she lived with, her only boy. He was sitting on the edge of his
    <u>@Model.Noun2</u> at the table, bent over the orange sports section of the Journal. “Now look here,
    Bailey,” she said, “see here, read this,” and she stood with one hand on her thin hip
    and the other rattling the newspaper at his <u>@Model.Adjective1</u> head. “Here this fellow that calls
    himself The <u>@Model.OminousNoun1</u> is aloose from the Federal Pen and headed toward <u>@Model.Place1</u> and you
    read here what it says he did to these people. Just you read it. I wouldn’t take my
    children in any direction with a criminal like that aloose in it. I couldn’t answer to my
    <u>@Model.Noun3</u> if I did.”
    Bailey didn’t look up from his reading so she wheeled around then and faced the
    children’s mother, a young woman in slacks, whose face was as <u>@Model.FaceAdjective1</u> and innocent as
    a <u>@Model.FaceNoun1</u> and was tied around with a green head-kerchief that had two points on the
    top like rabbit’s ears. She was sitting on the sofa, feeding the baby his <u>@Model.Food1</u> out of a
    jar. “The children have been to <u>@Model.Place1</u> before,” the old lady said. “You all ought to take
    them somewhere else for a change so they would see different parts of the world and
    be <u>@Model.CharacterAdjective1</u>. They never have been to east <u>@Model.Place2</u>.”
    The children’s mother didn’t seem to hear her but the eight-year-old boy, John
    Wesley, a <u>@Model.Adjective2</u> child with glasses, said, “If you don’t want to go to <u>@Model.Place1</u>, why
    dontcha stay at home?” He and the little girl, June Star, were reading the funny papers
    on the floor.</p>
    </body>
</html>